.chatBoxForm {
  display: flex;
  justify-content: center;
  padding: 10px 100px 10px 100px;
  position: relative;
}

/* .formInputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */

.messageInput {
  flex: 1;
  border: none;
  height: 50px;
  border-radius: 25px;
  background-color: var(--searchBarDarkish);
  padding: 10px 20px 10px 20px;
  color: var(--secondaryText);
}

.messageInput:focus {
  outline: none;
}

.msgInputButton {
  background: none;
  border: none;
  position: absolute;
  top: 22px;
  right: 110px;
}

.msgInputButton:focus {
  outline: none;
}

.sendIcon {
  cursor: pointer;
  color: var(--profileInfoIcon);
}