.chatBoxForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 50px 20px 50px;
}

.isTyping {
  color: var(--typingText);
  font-size: 0.7rem;
  height: 20px;
}

.formInputContainer {
  display: flex;
  border-radius: 25px;
  height: 50px;
  background-color: var(--searchBarDarkish);
  width: 100%;
}

.messageInput {
  flex: 1;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 10px 20px 10px 20px;
  background: none;
  color: var(--secondaryText);
}

.messageInput:focus {
  outline: none;
}

.msgInputButton {
  background: none;
  border: none;
  padding: 0 10px 0 10px;
  border-radius: 0 25px 25px 0;
}

.msgInputButton:focus {
  outline: none;
}

.sendIcon {
  cursor: pointer;
  color: var(--profileInfoIcon);
}

/* Typing indicator styling */

