.feed {
  flex: 5;
}

.feedWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.homePostsLoading {
  align-self: center;
  margin: 30px 0 30px 0;
}

.noMorePoststext {
  color: var(--secondaryText);
  text-align: center;
  margin: 20px 0 20px 0;
}

.postLoadMore {
  background-color: var(--searchBar);
  height: 50px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--primaryText);
}

.postLoadMore:active {
  background-color: var(--secondaryBorderBackground);
}