.feed {
  flex: 5;
  max-width: 600px;
}

.feedWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.homePostsLoading {
  align-self: center;
  margin: 30px 0 30px 0;
}

.homeLoadingFixed {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  background-color: var(--profileBackground);
  z-index: 1;
}

.loadingFixed {
  margin: 50px;
}

.noMorePoststext {
  color: var(--secondaryText);
  text-align: center;
  margin: 20px 0 20px 0;
}

.postLoadMore {
  background-color: var(--searchBar);
  height: 50px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--primaryText);
}

.postLoadMore:active {
  background-color: var(--secondaryBorderBackground);
}