.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUserAndDate {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 0 10px;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  color: var(--primaryText);
}

.postUsername:hover {
  text-decoration: underline;
}

.postDate{
    font-size: 12px;
    color: var(--secondaryText);
}

.postCenter{
  margin: 30px 0;
}

.postText {
  color: var(--primaryText);
  font-size: 0.9rem;
  line-height: 1.3;
  padding: 0 10px 0 10px;
}

.postUpdateTextarea {
  border: none;
  background: none;
  width: 100%;
  height: 100px;
  resize: none;
  color: var(--secondaryText);
}

.postUpdateTextarea:focus {
  outline: none;
}

.postUpdateCancel {
  color: var(--topbarBackground);
  font-size: 0.8rem;
  cursor: pointer;
}

.updateFormButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.updateFormButton {
  width: 100px;
  border: none;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--topbarBackground);
  color: var(--primaryText);
}

.updateFormButton:active {
  background-color: var(--topbarBackgroundDarkish);
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.moreVert {
  color: var(--secondaryText);
}

.moreVertContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreVertContainer:hover {
  background-color: var(--searchBar);
  cursor: pointer;
}

/* Dropdown menu styles */

.postDropdownContainer {
  position: relative;
}

.postDropdown {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  list-style: none;
  background-color: var(--profileBackground);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.postDropdownItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.postDeleteLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  flex: 1;
}

.postDropdownItem:hover {
  background-color: var(--searchBar);
}

.postDropdownItem:active {
  background-color: var(--searchBarDarkish);
}

.postDropdownIcon {
  color: var(--profileInfoIcon);
}

.postDropdownItemText {
  color: var(--secondaryText);
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.postLikeCounter{
    font-size: 0.8rem;
    color: var(--secondaryText);
}

.postCommentText{
  border-bottom: 1px dashed gray;
  font-size: 0.8rem;
  color: var(--secondaryText);
}

/* Post like and Comment box */

.postHoriLine {
  border-color: var(--secondaryBorderBackground);
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.likeAndCommentContainer {
  display: flex;
  margin-top: 10px;
  padding: 5px 0 5px 0;
  border-top: thin solid var(--secondaryBorderBackground);
  border-bottom: thin solid var(--secondaryBorderBackground);
}

.postLike, .postComment {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  color: var(--secondaryText);
  font-size: 0.8rem;
}

.postLike:hover, .postComment:hover {
  background-color: var(--searchBar);
}

.postLike:active, .postComment:active {
  background-color: var(--searchBarDarkish);
}

.postLiked {
  color: var(--topbarBackground);
}