.chatBoxTop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: thin solid var(--secondaryBorderBackground);
}

.chatBoxTopLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topLeftProfilePic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
}

.topLeftNameContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topLeftName {
  font-weight: 600;
}

.topLeftActiveStatus {
  display: flex;
  gap: 5px;
  align-items: center;
}

.topLeftActive {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: thin solid white;
  background-color: lime;
}

.topLeftActiveText {
  font-size: 0.9rem;
  color: var(--secondaryText);
}