.topbarContainer{
  height: 50px;
  width: 100%;
  background-color: var(--profileTop);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
}

.topbarLeft{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.topbarLogo{
  font-size: 24px;
  margin-left: 20px;
  font-weight: 600;
  color: var(--topbarBackground);
  cursor: pointer;
}

.topbarLogo:hover {
  color: var(--topbarBackgroundDarkish);
}

.topbarLinks{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.topbarLinkContainer {
  padding: 5px 0 5px 0;
}

.topbarLinkSelected {
  border-bottom: 2px solid var(--topbarBackground);
}

.topbarLink {
  margin-left: 10px;
}

.topbarRightWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  color: white;
  transition: 0.3s;
}

.topbarRight{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.topbarRightList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.topbarRightLogin {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--primaryText);
  cursor: pointer;
}

.topbarRightSignup {
  width: 80px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--topbarBackground);
  cursor: pointer;
  color: var(--primaryText);
}

.topbarRightSignup:active {
  background-color: var(--topbarBackgroundDarkish);
}

.menuIconContainer, 
.groupIconContainer {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
}

.groupIconContainer {
  position: relative;
}

.menuIconContainer:hover, 
.groupIconContainer:hover {
  background-color: var(--searchBarDarkish);
}

.menuIconContainer:active, 
.groupIconContainer:active {
  background-color: var(--searchBar);
}

.groupIconMarker {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
}

.unseenNotifMarker {
  position: absolute;
  top: 7px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.menuIcon, 
.groupIcon {
  cursor: pointer;
  color: var(--secondaryText);
}

.showTopbarMenu {
  right: 0;
}

.hideTopbarMenu {
  right: -50px;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.topbarIconItem {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--secondaryText);
}

.topbarIconBadge {
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Dropdown styles */

.topbarDropdownContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.topbarDropdown {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  list-style: none;
  background-color: var(--profileTop);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 200px;
}

.topbarDropdownProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.dropdownHr {
  border: thin solid var(--secondaryBorderBackground);
}

.topbarDropdownProfile:hover {
  background-color: var(--searchBar);
}

.dropdownProfileName {
  font-weight: 600;
  font-size: 0.9rem;
}

.topbarDropdownLogout {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.topbarDropdownLogout:hover {
  background-color: var(--searchBar);
}

.logoutIcon {
  color: var(--profileInfoIcon);
}

.logoutText {
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .topbarContainer {
    gap: 20px;
  }

  .topbarLeft {
    gap: 5px;
  }

  .topbarLogo {
    margin-left: 10px;
  }

  .topbarRight {
    flex: initial;
    padding-right: 10px;
  }

  .menuIconContainer, 
  .groupIconContainer {
    display: flex;
    position: relative
  }

  .topbarRightContainer {
    position: fixed;
    top: 50px;
    right: -800px;
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
  }

  .topbarRightWrapper {
    position: fixed;
    top: 50px;
    background-color: var(--profileTop);
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 50px);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;

  }

  .topbarDropdownContainer {
    height: initial;
  }

  .topbarIcons {
    flex-direction: column;
  }

  .showTopbarMenuContainer {
    right: 0;
    opacity: 1;
  }

  .topbarDropdown {
    top: 10px;
    left: -240px;
    width: 230px;
  }
}

@media (max-width: 400px) {
  .topbarContainer {
    gap: 10px;
  }

  .topbarLeft {
    gap: 0px;
  }

  .topbarRightList {
    gap: 10px;
  }

  .topbarRightSignup {
    padding: 5px;
    width: 60px;
  }
}