.replyInputWrapper {
  display: flex;
  gap: 10px;
}

.replyInputUserImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.replyInputForm {
  flex: 1;
}

.replyInputTextarea {
  width: 100%;
  resize: none;
  background-color: var(--searchBar);
  color: var(--secondaryText);
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.replyInputTextarea:focus {
  outline: none;
}

.replyInputButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
}

.replyInputSubmit {
  width: 100px;
  border: none;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--topbarBackground);
  color: var(--primaryText);
}