* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbarTrack);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 3px;
}

:root {
  --topbarBackground: #1877f2;
  --topbarBackgroundDarkish: #1466d1;
  --scrollbarTrack: #f1f1f1;
  --scrollbarThumb: rgb(180, 178, 178);
  --profileBackground: #18191A;
  --postDropdown: #202122;
  --profileTop: #242526;
  --primaryText: #e4e6eb;
  --secondaryText: #B0B3B8;
  --profileInfoIcon: #535658;
  --searchBar: #3a3b3c;
  --postBackground: #18191a;
  --secondaryBorderBackground: rgba(255, 255, 255, 0.1);
  --modalBackground: rgba(0, 0, 0, 0.6);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--searchBar) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--secondaryText) !important;
}

.routerLink {
  text-decoration: none;
  color: inherit;
}