* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --topbarBackground: #1877f2;
  --scrollbarTrack: #f1f1f1;
  --scrollbarThumb: rgb(180, 178, 178);
}