.profileContainer {
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  background-color: var(--profileBackground);
}

.profile{
  max-width: 1000px;
  flex: 1;
}

.profileTop {
  background-color: var(--profileTop);
  border-radius: 20px;
  margin-bottom: 20px;
}

.profileBottom {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.profileRight{
  flex: 9;
}

.profileCover{
  position: relative;
}

.profileCoverImg{
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.noProfileCover {
  width: 100%;
  height: 340px;
  background-color: var(--searchBar);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--secondaryText);
}

.profileUserImg{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 30px;
  right: 0;
  bottom: -35px;
  border: 3px solid white;
}

.profileSummary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 15px 200px;
}

.profileNameDescContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: var(--primaryText);
}

.editProfileContainer {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primaryText);
  font-size: 0.8rem;
  cursor: pointer;
  background: var(--topbarBackground);
  padding: 10px;
  border-radius: 5px;
}

.editProfileContainer:hover {
  background-color: var(--topbarBackgroundDarkish);
}

.profileInfoName{
  font-size: 24px;
}

.profileInfoDesc{
  font-weight: 300;
  font-size: 0.9rem;
}

.profileBottom{
  display: flex;
  gap: 20px;
}

.profileSidebar {
  flex: 1.5;
}

.profileSidebarTitle {
  font-size: 1.3rem;
  font-weight: 300;
}

.profileInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--profileTop);
  border-radius: 10px;
}

.profileSidebarTitle {
  color: var(--primaryText);
}

.profileSidebarWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 55px;
}

.profileInfoItemContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.profileInfoItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileInfoIcon {
  color: var(--profileInfoIcon);
}

.profileInfoItemDesc {
  font-size: 0.9rem;
  color: var(--primaryText);
}

/* Profile friend list */

.profileFriendlist {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  gap: 15px;
  overflow-y: hidden;
}

.profileFriendlist:hover {
  overflow-y: scroll;
}

.noFriendsText {
  color: var(--primaryText);
}

.profileFriend {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70px;
}

.profileFriendImg {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}

.profileFriendName {
  color: var(--primaryText);
  font-weight: 500;
  font-size: 0.7rem;
  text-align: center;
}

.profileFriendName:hover {
  text-decoration: underline;
}

.profilePosts {
  flex: 3;
}

.profilePostsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profileLoading {
  margin: 50px;
}

.profilePostsTitle {
  font-size: 1.4rem;
  background-color: var(--profileTop);
  color: var(--primaryText);
  border-radius: 10px;
  padding: 10px;
  font-weight: 300;
}

/* Loading styles */
.postsLoading {
  align-self: center;
  margin: 30px 0 30px 0;
}

.noMorePoststext {
  color: var(--secondaryText);
  text-align: center;
  margin: 20px 0 20px 0;
}

.postLoadMore {
  background-color: var(--searchBar);
  height: 50px;
  margin: 20px 0 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--primaryText);
}

.postLoadMore:active {
  background-color: var(--secondaryBorderBackground);
}