/* Notification styles in general*/

.topbarIconContainer {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.topbarIconContainer:hover {
  background-color: var(--searchBarDarkish);
}

.topbarIconContainer:active {
  background-color: var(--searchBar);
}

.msgNotificationList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 5px 0 5px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.msgNotifDropDown { 
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
}

.markLoadingContainer {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
}

.noNotifications {
  width: 250px;
  gap: 10px;
  padding: 10px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.notificationIcon{
  cursor: pointer;
  color: var(--secondaryText);
}

.notifOptions {
  color: var(--topbarBackground);
  padding: 5px;
  font-size: 0.8rem;
  width: 100%;
  background-color: inherit;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.notifOptions span:hover {
  color: var(--topbarBackgroundDarkish);
  cursor: pointer;
}

.noNotifDiv {
  padding: 0 5px 0 5px;
}