/* Notification styles in general*/

.topbarIconContainer {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.topbarIconContainer:hover {
  background-color: var(--searchBarDarkish);
}

.topbarIconContainer:active {
  background-color: var(--searchBar);
}

.msgNotifDropDown { 
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  width: 260px;
}

.openMessenger {
  color: var(--topbarBackground);
  padding: 5px;
  font-size: 0.9rem;
  width: 100%;
  background-color: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: thin solid var(--secondaryBorderBackground);
}

.openMessenger:hover {
  color: var(--topbarBackgroundDarkish);
  cursor: pointer;
}

.msgNotificationList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  padding-bottom: 2px;
}

.msgNotifDropdownWrapper {
  max-height: 400px;
  overflow-y: auto;
}

.markLoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.noMsgNotifications {
  width: 100%;
  gap: 10px;
  padding: 10px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.msgNotificationIcon{
  cursor: pointer;
  color: var(--secondaryText);
}

.msgShowOldNotif {
  color: var(--topbarBackground);
  padding: 5px;
  font-size: 0.7rem;
  width: 100%;
  background-color: inherit;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgShowOldNotif:hover {
  color: var(--topbarBackgroundDarkish);
  cursor: pointer;
}

.noNotifDiv {
  padding: 0 5px 0 5px;
}

@media (max-width: 800px) {
  .msgNotifDropDown {
    top: 10px;
    left: -240px;
    width: 230px;
  }
}