.homepageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--profileBackground);
}

@media (max-width: 800px) {
  .homepageContainer {
    justify-content: center;
  }
}