.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--profileBackground);
}

.homepageContainer {
  display: flex;
  width: 100%;
}