.messengerContainer {
  background-color: var(--profileBackground);
  color: var(--primaryText);
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}

.messengerLoading {
  margin: 50px;
}

.conversations {
  width: 320px;
}

.conversationsWrapper {
  padding: 10px;
  border-right: thin solid var(--secondaryBorderBackground);
}

.coversationsInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background: none;
}

.coversationsInput:focus {
  outline: none;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0 10px 0;
  height: 100%;
}

.chatBox {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectChatText {
  padding: 7px;
  border-radius: 10px;
  background-color: var(--searchBarDarkish);
  color: var(--secondaryText);
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conversationsWrapper {
  padding: 10px;
  height: 100%;
}

.chatBoxWrapper {
  height: 100%;
  position: relative;
}

.msgsLoadingContainer {
  background-color: var(--profileBackground);
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.chatBoxCenter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10% 10px 6.5%;
  overflow: hidden;
  flex: 1;
}

.noMsgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBoxCenter:hover {
  overflow: overlay;
}

.oldMsgs, .newMsgs, .unseenMsgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showMoreMsg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.showMoreMsg button {
  background-color: var(--searchBarDarkish);
  color: var(--secondaryText);
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}

.showMoreMsg button:hover {
  background-color: var(--searchBar);
}

.showMoreMsg button:active {
  background-color: var(--secondaryBorderBackground);
}

.showMoreMsg button:focus {
  outline: none;
}

.showMoreMsg div {
  border-bottom: thin solid var(--secondaryBorderBackground);
  flex: 1;
}

.unseenMsgsText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: var(--topbarBackground);
}

.unseenMsgsText div {
  flex: 1;
  border-bottom: thin solid var(--topbarBackground);
}





