.messengerContainer {
  background-color: var(--profileBackground);
  color: var(--primaryText);
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}

.messengerLoading {
  margin: 50px;
}

.conversations {
  width: 330px;
}

.conversationsWrapper {
  border-right: thin solid var(--secondaryBorderBackground);
  height: 100%;
}

.coversationsInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background: none;
}

.coversationsInput:focus {
  outline: none;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 10px 15px 10px;
  height: 100%;
  overflow-y: hidden;
}

.conversationContainer:hover {
  overflow-y: overlay;
}

.chatBox {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selectChatText {
  padding: 7px;
  border-radius: 10px;
  background-color: var(--searchBarDarkish);
  color: var(--secondaryText);
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatBoxWrapper {
  height: 100%;
  position: relative;
}

.chatboxTop {
  display: none;
  padding: 10px;
  border-bottom: thin solid var(--secondaryBorderBackground);
}

.backIconContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10%;
  padding-right: 7px;
  background-color: var(--searchBarDarkish);
  position: relative;
}

.backIcon {
  cursor: pointer;
  color: var(--secondaryText);
}

.headerNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-right: 20px;
}

.headerName {
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unseenMsgsBadge {
  width: 18px;
  height: 18px;
  background-color: var(--topbarBackground);
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.msgsLoadingContainer {
  background-color: var(--profileBackground);
  height: calc(100% - 90px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.chatBoxCenter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 6.5% 10px 6.5%;
  overflow: auto;
  flex: 1;
}

.noMsgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oldMsgs, .newMsgs, .unseenMsgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.showMoreMsg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.showMoreMsg button {
  background-color: var(--searchBarDarkish);
  color: var(--secondaryText);
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}

.showMoreMsg button:hover {
  background-color: var(--searchBar);
}

.showMoreMsg button:active {
  background-color: var(--secondaryBorderBackground);
}

.showMoreMsg button:focus {
  outline: none;
}

.showMoreMsg div {
  border-bottom: thin solid var(--secondaryBorderBackground);
  flex: 1;
}

.unseenMsgsText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: var(--topbarBackground);
}

.unseenMsgsText div {
  flex: 1;
  border-bottom: thin solid var(--topbarBackground);
}

@media (max-width: 800px) {
  .conversations {
    position: fixed;
    top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
  }

  .chatBox {
    flex: initial;
    position: fixed;
    top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
  }

  .chatboxTop {
    display: flex;
  }

  .chatBoxCenter {
    padding-top: 0px;
    margin-top: 10px;
  }

  .oldMsgs, .newMsgs, .unseenMsgs {
    gap: 15px;
  }

  .hideConv {
    display: none;
  }

  .hideChatbox {
    display: none;
  }
}