.commentContainer {
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.postCommentsLoading {
  align-self: center;
  margin-bottom: 10px;
}

.allComments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.noCommentsText {
  color: var(--primaryText);
  align-self: center;
  font-size: 0.8rem;
}