.messenger {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}

.messengerLoading {
  margin: 50px;
}

.conversations {
  width: 320px;
}

.conversationsWrapper {
  padding: 10px;
  border-right: thin solid var(--secondaryBorderBackground);
}

.coversationsInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background: none;
}

.coversationsInput:focus {
  outline: none;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0 10px 0;
}

.chatBox {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectChatText {
  padding: 7px;
  border-radius: 10px;
  background-color: var(--searchBarDarkish);
  color: var(--secondaryText);
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conversationsWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

/* .chatBoxTop {
  border: thin solid red;
} */

.chatBoxCenter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 100px 20px 50px;
  overflow: auto;
  flex: 1;
}

.oldMsgs, .newMsgs, .unseenMsgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.unseenMsgsText {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8rem;
  color: var(--topbarBackground);
}

.unseenMsgsText div {
  flex: 1;
  border-bottom: thin solid var(--topbarBackground);
}
