/* Notification styles in general*/

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
}

.fndNotifDropDown { 
  position: absolute;
  width: 260px;
  top: 50px;
  right: 0;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
}

.noFndNotifications {
  width: 250px;
  gap: 10px;
  padding: 10px;
  background-color: var(--searchBarDarkish);
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.fndReqNotificationIcon{
  cursor: pointer;
  color: var(--secondaryText);
}

.markAsRead{
  color: var(--topbarBackground);
  padding: 5px 5px 5px 0px;
  font-size: 0.8rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: inherit;
}

.markAllAsRead {
  color: var(--topbarBackground);
  padding: 5px 5px 5px 0px;
  font-size: 0.8rem;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: inherit;
  text-align: center;
}

.markAllAsRead span:hover, .markAsRead:hover {
  color: var(--topbarBackgroundDarkish);
  cursor: pointer;
}

/* Specific to friend requests */

.notifContainer {
  position: relative;
}

.fndReqConfirmed{
  position: fixed;
  top: 60px;
  left: 10px;
  color: var(--primaryText);
  font-size: 0.8rem;
}

.reqLoadingContainer {
  height: 25px;
  width: 100%;
  padding-left: 57px;
}

@media (max-width: 800px) {
  .fndNotifDropDown {
    top: 10px;
    left: -240px;
    width: 230px;
  }

  .noFndNotifications {
    width: 230px;
  }
}

