.signup {
  width: 100vw;
  height: 100vh;
  background-color: var(--profileBackground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.signupLeft,
.signupRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.signupLogo:hover {
  color: #0a6beb;
}

.signupDesc {
  font-size: 24px; 
  color: var(--primaryText);
}

.userExistDiv {
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

.signupBox{
  padding: 20px;
  background-color: var(--profileTop);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.signupNameGroup {
  display: flex;
  gap: 10px;
}

.signupInput{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: var(--searchBar);
  color: var(--secondaryText);
  font-size: 18px;
  padding-left: 20px;
}

.signupInput:focus{
  outline: none;
}

.signupButton{
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.errorMsg {
  padding-left: 5px;
  color: red;
  font-size: 0.8rem;
}

.signupRedirect {
  font-size: 0.9rem;
  text-align: center;
  color: var(--secondaryText);
}

.anchorLike {
  color: #1775ee;
  cursor: pointer;
}

.signupRegisterButton{
  width: 100%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.signupFormgroup {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.orLeft, .orRight {
  flex: 1;
  border-top: thin solid rgb(201, 196, 196);
}

.signupGoogleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #aa706f;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}