.contacts {
  flex: 2;
  max-width: 300px;
  position: sticky;
  top: 50px;
  height: calc(100vh - 50px);
  font-size: 0.9rem;
}

.contactsWrapper {
  padding: 20px 20px 0 0;
}

.contactsTitle {
  margin-bottom: 20px;
  color: var(--primaryText);
}

.contactsList {
  list-style: none;
  padding: 10px 0 10px 0;
  height: 350px;
  overflow-y: hidden;
}

.contactsList:hover {
  overflow-y: overlay;
}

.noFndsText {
  width: 100%;
  text-align: center;
  color: var(--secondaryText);
  font-size: 0.8rem;
}

.groupIconContainer {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--searchBar);
}

.groupIconContainer:hover {
  background-color: var(--searchBarDarkish);
}

.groupIconMarker {
  position: absolute;
  bottom: 7px;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
}

.groupIcon {
  color: var(--secondaryText);
}

@media (max-width: 800px) {
  .contacts {
    position: fixed;
    top: 0;
    left: -800px;
    max-width: initial;
    width: 100vw;
    height: 100vh;
    transition-duration: 0.3s;
    transition-property: background-color;
    background-color: rgba(0, 0, 0, 0);
    z-index: 998;
  }

  .contactsWrapper {
    position: fixed;
    top: 0;
    left: -210px;
    padding-left: 10px;
    background-color: var(--profileBackground);
    max-width: 200px;
    height: 100vh;
    transition: 0.3s;
  }

  .groupIconContainer {
    display: flex;
    bottom: 15px;
    left: 15px;
  }

  .showContacts {
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .showContactsWrapper {
    left: 0;
  }
}

