.postInput {
  width: 100%;
  border-radius: 10px;
  background-color: var(--profileTop);
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postInputWrapper {
  padding: 10px;
}

.postInputTop {
  display: flex;
}

.postInputProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  flex-shrink: 0;
}

.postInputWriteArea {
  padding-top: 5px;
  border: none;
  background: none;
  width: 100%;
  height: 80px;
  resize: none;
  color: var(--secondaryText);
}

.postInputWriteArea:focus {
  outline: none;
}

.postInputHr {
  margin: 20px;
}

.postInputImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;
}

.postInputImg {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.postInputCancelImg {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.postInputBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.postInputOptions {
  display: flex;
  margin-left: 20px;
}

.postInputOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.loadingText {
  font-size: 0.6rem;
  color: var(--secondaryText);
}

.postInputIcon {
  font-size: 18px;
  margin-right: 3px;
}

.postInputOptionText {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--primaryText);
  cursor: pointer;
}

.postInputButton {
  width: 70px;
  height: 35px;
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--topbarBackground);
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}

.postInputButton:active {
  background-color: var(--topbarBackgroundDarkish);
}